<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="current-calls-folder" value="${basedir}"/>

  <targets>
    <target name="file" xsi:type="File"
        layout="${longdate} ${logger} ${message}"
        fileName="${current-calls-folder}/logs/current-calls-log.txt"
        archiveFileName="${current-calls-folder}/logs/archives/log.{#}.txt"
        archiveEvery="Day"
        archiveNumbering="Rolling"
        maxArchiveFiles="7"
        concurrentWrites="true"
        keepFileOpen="false"
        encoding="iso-8859-2" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="file" />
  </rules>
</nlog>
